S3method(print,RGDAL2LayerDF)
export("%append%")
export("%contains%")
export("%crosses%")
export("%difference%")
export("%disjoint%")
export("%distance%")
export("%equals%")
export("%intersection%")
export("%intersects%")
export("%overlaps%")
export("%symdiff%")
export("%touches%")
export("%union%")
export("%within%")
export(GEOMETRYCOLLECTION)
export(LINEARRING)
export(LINESTRING)
export(MULTILINESTRING)
export(MULTIPOINT)
export(MULTIPOLYGON)
export(POINT)
export(POLYGON)
export(addLayer)
export(area)
export(boundary)
export(buffer)
export(centroid)
export(convexHull)
export(copyDataset)
export(copyTransform)
export(draw)
export(execSQL)
export(featureIter)
export(foreach.tile)
export(geometryGrob)
export(geometryIter)
export(getBand)
export(getBlockSize)
export(getDataset)
export(getFeature)
export(getFields)
export(getGeometries)
export(getGeometry)
export(getGeometryType)
export(getID)
export(getIDs)
export(getLayerName)
export(getMask)
export(getMaskFlags)
export(getMetadata)
export(getNextFeature)
export(getNextGeometry)
export(getNoDataValue)
export(getPROJ4)
export(getPoints)
export(getSQLLayer)
export(getSpatialFilter)
export(getTransform)
export(graticule)
export(lapplyFeatures)
export(lapplyGeometries)
export(lineLength)
export(makeExtent)
export(nBlockCols)
export(nBlockDim)
export(nBlockRows)
export(nband)
export(newDataset)
export(newGeometry)
export(newOGRDatasource)
export(newRasterBand)
export(newSRS)
export(openDataset)
export(openOGR)
export(openOGRLayer)
export(openRasterBand)
export(pickExtent)
export(polygonize)
export(readBlock)
export(rewind)
export(setMetadata)
export(setNoDataValue)
export(setSelectWhere)
export(setSpatialFilter)
export(setTransform)
export(setViewport)
export(simplify)
export(tileCoordIter)
export(tileIter)
export(unionCascaded)
export(writeBlock)
exportMethods("$")
exportMethods("[")
exportMethods("[<-")
exportMethods("[[")
exportMethods(dim)
exportMethods(extent)
exportMethods(getSRS)
exportMethods(length)
exportMethods(names)
exportMethods(properties)
exportMethods(reproject)
exportMethods(setSRS)
import(RColorBrewer)
import(Rcpp)
import(foreach)
import(grDevices)
import(grid)
import(iterators)
import(methods)
importFrom(stats,rnorm)
importFrom(utils,download.file)
importFrom(utils,unzip)
useDynLib(rgdal2)
